// Primary Color
$lime1: rgba(251, 255, 225, 1);
$lime2: rgba(238, 255, 169, 1);
$lime3: rgba(209, 250, 49, 1);
$lime4: rgba(187, 226, 23, 1);
$lime5: rgba(168, 196, 0, 1);

// Grayscale
$gray1: rgba(226, 226, 226, 1);
$gray2: rgba(198, 198, 198, 1);
$gray3: rgba(140, 140, 140, 1);
$gray4: rgba(68, 68, 68, 1);
$gray5: rgba(0, 0, 0, 1);

// Spacing
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 32px;
$sp5: 48px;
$sp6: 64px;